
<div class="sidebar-wrapper">
    <div class="logo">
      <a href="" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/img/nLogo1.jpg">
        </div>
      </a>
      <a href="" class="simple-text logo-normal">
        GROGREEN
      </a>
    </div>
      <ul class="nav">
          <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
              <a [routerLink]="[menuItem.path]">
                  <i class="nc-icon {{menuItem.icon}}"></i>
                  <p>{{menuItem.title}}</p>
              </a>
          </li>
      </ul>
  </div>
  