@media (max-width: 599px) {
    .margin{
        margin-top: 80px !important;
        margin-bottom: 50px !important;
    }

    .hide{
        display: none;
      }

      .eye{
        color: #c3c3c3;
        margin-top: 2.5%;
        margin-left: 0.5%;
      }

}

@media (min-width: 600px) {

    .margin{
        margin-top: 80px !important;
        margin-bottom: 50px !important;
    }

    .hide{
        display: none;
      }

      .eye{
        color: #c3c3c3;
        margin-top: 2.5%;
        margin-left: 0.5%;
      }


}

@media (min-width: 900px) {
    .margin{
        margin-top: 80px !important;
        margin-bottom: 50px !important;
    }
    
    .hide{
        display: none;
      }

      .eye{
        color: #c3c3c3;
        margin-top: 2.5%;
        margin-left: 0.5%;
      }

}

/* for-desktop-up */
@media (min-width: 1200px) {

    .margin{
        margin-top: 150px !important;
        margin-bottom: 150px !important;
    }
      .hide{
        display: none;
      }

      .eye{
        color: #c3c3c3;
        margin-top: 2.5%;
        margin-left: 0.5%;
      }

      
}