@media (max-width: 599px) {

}

@media (min-width: 600px) {

}

@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
    .btn-circle {
        width: 40px;
        height: 40px;
        padding: 6px 0px;
        border-radius: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 1.42857;
    }

    button i{
        font-size: 16px;
    }
    .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 10px auto 30px;
      }
      
      .avatar-upload .avatar-edit {
        position: absolute;
        right: 19px;
        z-index: 1;
        top: 13px;
      }
      
      .avatar-upload .avatar-edit input {
        display: none;
      }
      
      .avatar-upload .avatar-edit .custom-label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #3efc78;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
      }
      
      .avatar-upload .avatar-edit .upload-image {
        background: #3efc78;
      }
      
      .avatar-upload .avatar-edit .remove-image {
        background: #E91E63;
      }
      
      .avatar-upload .avatar-edit .custom-label:hover {
        opacity: 1;
      }
      
      .avatar-upload .avatar-edit .custom-label:after {
        position: absolute;
        text-align: center;
        margin: auto;
        top: 8px;
        right: 0;
        left: 2px;
        width: 18px;
      }
      
      .avatar-upload .avatar-edit .upload-image:after {
        content: url('/assets/edit.svg');
      }
      
      .avatar-upload .avatar-edit .remove-image:after {
        content: url('/assets/close.svg');
        left: 0px !important;
      }
      
      .avatar-upload .avatar-preview {
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 100%;
        overflow: hidden;
        border: 12px solid #fff;
        -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
        box-shadow: 0 0 45px rgba(0, 0, 0, .2);
      }
      
      .avatar-upload .avatar-preview>div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .image-preview-card{
          width: 20% !important;
          height: 20% !important;
          padding-top: 1%;
          padding-bottom: 1%;
          padding-left:1%;
          padding-right: 1%;

      }

      .product-image-up-b{
          width: 30%;
      }

      .hide{
        display: none;
      }

      .eye{
        color: #c3c3c3;
        margin-top: 2.5%;
        margin-left: 0.5%;
      }

      .modal-header-danger{
        background-color: #f1926e;
      }
}