<div *ngIf="sucess" class="alert alert-success alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Success!</strong> Action done Successfully!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Danger!</strong> Sorry, Something went wrong!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h4 class="card-title">Farmers</h4>
          </div>
          <div class="col-12 col-lg-4"></div>
          <div class="col-12 col-lg-2"></div>
          <div class="col-12 col-lg-2 float-right"><button type="button" class="btn btn-success btn-circle"
              data-toggle="modal" data-target="#productAModal"><i class="fas fa-plus-circle"></i></button></div>
        </div>


      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let farmer of farmers | paginate: { itemsPerPage: 10, currentPage: p }">
                <th scope="row">{{farmer.farmerId}}</th>
                <td>{{farmer.firstName}}</td>
                <td>{{farmer.lastName}}</td>
                <td>{{farmer.username}}</td>
                <td>{{farmer.status | uppercase}}</td>
                <td>
                  <!-- routerLink="/admin/farmers/farmer" [state]="farmer" -->
                  <div class="row">
                    <button class="btn btn-primary ml-1 mr-1 mb-1" role="button"
                       (click)="viewFarmer(farmer)"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-success ml-1 mr-1 mb-1" data-toggle="modal"
                      data-target="#productEditModal" (click)="getEditData(farmer)"><i
                        class="fas fa-pencil-alt"></i></button>
                    <button type="button" class="btn btn-danger ml-1 mr-1 mb-1" data-toggle="modal"
                      data-target="#deleteFarmer" (click)="getDeleteData(farmer)"><i
                        class="far fa-trash-alt"></i></button>
                  </div>

                  
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize="5" autoHide="true"
                responsive="true">
              </pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <!-- add farmer model -->
  <div class="modal fade" id="productAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Farmer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="farmerAddForm" (ngSubmit)="onSubmit(farmerAddForm.value)">
            <div class="form-group">
              <label>First Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Namal" type="text" formControlName="fname" required />
              </div>
            </div>
            <div
              *ngIf="!farmerAddForm.controls['fname'].valid && (farmerAddForm.controls['fname'].dirty||farmerAddForm.controls['fname'].touched)"
              class="alert alert-danger">First Name is Required</div>
            <div class="form-group">
              <label>Last Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Sandaruwan" type="text" formControlName="lname" required />
              </div>
            </div>
            <div
              *ngIf="!farmerAddForm.controls['lname'].valid && (farmerAddForm.controls['lname'].dirty||farmerAddForm.controls['lname'].touched)"
              class="alert alert-danger">Last Name is Required</div>
            <div class="form-group">
              <label>Latitude :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-pin-3"></i></span>
                </div>
                <input class="form-control" placeholder="7.6989" type="text" formControlName="lat" required />
              </div>
            </div>
            <div
              *ngIf="!farmerAddForm.controls['lat'].valid && (farmerAddForm.controls['lat'].dirty||farmerAddForm.controls['lat'].touched)"
              class="alert alert-danger">Latitude is Required</div>
            <div class="form-group">
              <label>Longtitude :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-pin-3"></i></span>
                </div>
                <input class="form-control" placeholder="7.6989" type="text" formControlName="long" required />
              </div>
            </div>
            <div
              *ngIf="!farmerAddForm.controls['long'].valid && (farmerAddForm.controls['long'].dirty||farmerAddForm.controls['long'].touched)"
              class="alert alert-danger">Longtitude is Required
            </div>

            <div class="form-group">
              <label>User Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="NamalS" type="text" formControlName="username" required />
              </div>
            </div>
            <div
              *ngIf="!farmerAddForm.controls['username'].valid && (farmerAddForm.controls['username'].dirty||farmerAddForm.controls['username'].touched)"
              class="alert alert-danger">Username is Required</div>


            <div class="form-group">
              <label>Password :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input class="form-control" id="password" type="password" formControlName="password" required /><i
                  class="fas fa-eye eye" (click)="showhide()" *ngIf="show"></i><i class="fas fa-eye-slash eye"
                  *ngIf="!show" (click)="showhide()"></i>
              </div>
            </div>

            <div
              *ngIf="!farmerAddForm.controls['password'].valid && (farmerAddForm.controls['password'].dirty||farmerAddForm.controls['password'].touched)"
              class="alert alert-danger">Password minimum six characters with one uppercase one lowercase one number one
              special character
            </div>

            <div class="form-group">
              <label>Items Grow :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="Carrot" type="text" formControlName="itemsGrow" required />
              </div>
            </div>
            <div
              *ngIf="!farmerAddForm.controls['itemsGrow'].valid && (farmerAddForm.controls['itemsGrow'].dirty||farmerAddForm.controls['itemsGrow'].touched)"
              class="alert alert-danger">Items are Required
            </div>

            <div class="form-group">
              <label>Cultivation Area :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-pin-3"></i></span>
                </div>
                <input class="form-control" placeholder="Enter your arcs" type="text" formControlName="cultivationArea" required />
              </div>
            </div>
            <div
              *ngIf="!farmerAddForm.controls['cultivationArea'].valid && (farmerAddForm.controls['cultivationArea'].dirty||farmerAddForm.controls['cultivationArea'].touched)"
              class="alert alert-danger">Cultivation Area is Required
            </div>

            <div class="form-group">
              <label>Mobile :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-pin-3"></i></span>
                </div>
                <input class="form-control" placeholder="Enter your mobile" type="text" formControlName="mobile" required />
              </div>
            </div>
            <div
              *ngIf="!farmerAddForm.controls['mobile'].valid && (farmerAddForm.controls['mobile'].dirty||farmerAddForm.controls['mobile'].touched)"
              class="alert alert-danger">Mobile is Required
            </div>

            <div class="form-group">
              <label>Address :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-pin-3"></i></span>
                </div>
                <input class="form-control" placeholder="Enter your address" type="text" formControlName="address" required />
              </div>
            </div>
            <div
              *ngIf="!farmerAddForm.controls['address'].valid && (farmerAddForm.controls['address'].dirty||farmerAddForm.controls['address'].touched)"
              class="alert alert-danger">Address is Required
            </div>


            <div class="form-group product-imge-up-container">
              <label>Farmer Image :</label>
              <input type='file' class="ng-hide form-control" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                (change)="uploadFile($event)" />
              <button type="submit" class="btn btn-info btn-block product-image-up-b" (click)="fileInput.click()">Upload
                Image</button>
              <div id="imagePreview" class="card image-preview-card">
                <img [src]='imageUrl' class="product-image" />
                Upload Percent: {{percentDone}}% <br />

                <ng-container *ngIf="uploadSuccess">
                  Upload Successful
                </ng-container>
              </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!farmerAddForm.valid">Add</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" #closeBtn (click)="clearData">Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="productEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Farmer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearData()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="farmerEditForm" (ngSubmit)="onEdit(farmerEditForm.value)">
            <div class="form-group">
              <label>First Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Namal" type="text" formControlName="fname" required />
              </div>
            </div>
            <div
              *ngIf="!farmerEditForm.controls['fname'].valid && (farmerEditForm.controls['fname'].dirty||farmerEditForm.controls['fname'].touched)"
              class="alert alert-danger">First Name is Required</div>
            <div class="form-group">
              <label>Last Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Sandaruwan" type="text" formControlName="lname" required />
              </div>
            </div>
            <div
              *ngIf="!farmerEditForm.controls['lname'].valid && (farmerEditForm.controls['lname'].dirty||farmerEditForm.controls['lname'].touched)"
              class="alert alert-danger">Last Name is Required</div>
            <!-- <div class="form-group">
              <label>Lattitude :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="NamalS" type="text" formControlName="username" required />
              </div>
            </div> -->
            <div
              *ngIf="!farmerEditForm.controls['username'].valid && (farmerEditForm.controls['username'].dirty||farmerEditForm.controls['username'].touched)"
              class="alert alert-danger">Last Name is Required</div>
            <div class="form-group">
              <label>Latitude :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-pin-3"></i></span>
                </div>
                <input class="form-control" placeholder="7.6989" type="text" formControlName="lat" required />
              </div>
            </div>
            <div
              *ngIf="!farmerEditForm.controls['lat'].valid && (farmerEditForm.controls['lat'].dirty||farmerEditForm.controls['lat'].touched)"
              class="alert alert-danger">Latitude is Required</div>
            <div class="form-group">
              <label>Longtitude :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-pin-3"></i></span>
                </div>
                <input class="form-control" placeholder="7.6989" type="text" formControlName="long" required />
              </div>
            </div>
            <div
              *ngIf="!farmerEditForm.controls['long'].valid && (farmerEditForm.controls['long'].dirty||farmerEditForm.controls['long'].touched)"
              class="alert alert-danger">Longtitude is Required</div>

            <div class="form-group">
              <label>Status :</label>
              <div class="input-group input-group-alternative mb-3">
                <!-- <div class="input-group-prepend">
                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                  </div> -->
                <select class="custom-select" id="status" formControlName="status">
                  <option *ngFor="let status of allStatus" [ngValue]="status">{{status | uppercase}}</option>
                </select>
              </div>
            </div>
            <div
              *ngIf="!farmerEditForm.controls['status'].valid && (farmerEditForm.controls['status'].dirty||farmerEditForm.controls['status'].touched)"
              class="alert alert-danger">Status is Required
            </div>

            <div class="form-group">
              <label>User Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="NamalS" type="text" formControlName="username" required disabled />
              </div>
            </div>
            <div
              *ngIf="!farmerEditForm.controls['username'].valid && (farmerEditForm.controls['username'].dirty||farmerEditForm.controls['username'].touched)"
              class="alert alert-danger">Username is Required</div>

            <!-- <div class="form-group">
              <label>Password :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input class="form-control" id="epassword" type="password" formControlName="password" required /><i
                  class="fas fa-eye eye" (click)="eshowhide()" *ngIf="show"></i><i class="fas fa-eye-slash eye"
                  *ngIf="!show" (click)="eshowhide()"></i>
              </div>
            </div> -->
            <!-- <div
              *ngIf="!farmerAddForm.controls['password'].valid && (farmerAddForm.controls['password'].dirty||farmerAddForm.controls['password'].touched)"
              class="alert alert-danger">Password minimum six characters with one uppercase one lowercase one number one
              special character</div> -->

            <button type="submit" class="btn btn-success" [disabled]="!farmerEditForm.valid" >Update</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"  #ecloseBtn (click)="clearData">Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteFarmer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-danger">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Farmer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete Farmer with ID {{deleteId}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteUser()">Yes</button>
          <button type="button" class="btn btn-danger">No</button>
        </div>
      </div>
    </div>
  </div>
