<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <h4 class="card-title text-center">INVOICE DETAILS: {{agentDistribution.id}}</h4>
                    </div>
                </div>
            </div>
            <div class="card-body border ml-3 mr-3 mb-3">
                <div class="container">
                    <hr>
                    <h6>Receiver Details</h6>
                    <hr>
                    <div class="mt-3">Name: {{agentDistribution.receiver.firstName}} {{agentDistribution.receiver.lastName}}</div>
                    <div class="mt-3">Address: {{agentDistribution.receiver.address}}</div>
                    <div class="mt-3">Mobile: {{agentDistribution.receiver.mobile}}</div>
                    <!-- <div class="mt-3">Email: {{distribution.email}}</div> -->
                    <hr>
                    <h6>Distribution Details</h6>
                    <hr>
                    <div class="mt-3">Invoice Date: {{agentDistribution.sendDate}}</div>
                    <div class="mt-3">Received Date: {{agentDistribution.receivedDate}}</div>
                    <div class="col-lg-12">
                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">StockId</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of agentDistribution.items">
                                        <th scope="row">{{item.agentStockItem.title}}</th>
                                        <td>{{item.qty}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>