<div class="header-image bg-img bg-overlay p-100 mt-5">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12">
                <div class="breadcrumb-text">
                    <h2>Our Product</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container product-container">
    <div class="container">
        <div class="row align-items-center pl-2">
            <div class="col-12 col-md-8">
                <div class="section-title">
                    <p>products</p>
                    <h2>
                        <span>{{product?.productName}}</span>
                    </h2>
                    <img src="assets/img/decor.png">
                </div>
                <p class="product-description mt-2">{{product?.description}}</p>
            </div>
            <div class="col-12 col-md-4">
                <img mat-card-image  src={{imageUrlWithBaseUrl+product?.imageUrl}} class="product-image" />
            </div>

        </div>
    </div>

</div>

<section class="instratuction-area d-flex flex-wrap mt-5">
    <div class="instratuction-thumbnail bg-img-inst jarallax">
        <div class="instratuction-img" id="jarallax-container-1"></div>
    </div>
    <div class="service-content mt-5 pl-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <p>Usage</p>
                        <h2>
                            <span>How to Use</span> {{product?.productName}}
                        </h2>
                        <img src="assets/img/decor.png">
                    </div>
                </div>
            </div>
            <div class="container instructions-set mt-5">
                <div class="row mt-2" *ngFor="let instruction of product?.instructions ">
                    <i class="fas fa-hand-point-right mr-3 instruction-icon"></i>
                    <p>{{instruction?.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
