@media (max-width: 599px) {
    .product-container{
        margin-top: 5% !important;
        
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 12px;
    }

    .section-title h2{
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: -3px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .product-image{
        width: 100%;
    }

    .product-description{
        font-family: "Karla", sans-serif;
        font-size: 12px;
        line-height: 1.7;
        font-weight: 400;
    }

    .header-image{
        height: 220px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/18.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
    }

    .h-100{
        height: 100% !important;
    }

    .header-image .breadcrumb-text {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .header-image .breadcrumb-text h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 30px;
        font-family: "Karla", sans-serif;
        font-weight: 700;
    }

    .instratuction-area{
        position: relative;
        z-index: 1;
        background-color: rgb(242, 244, 245);
        height: 1000px;
    }

    .instratuction-area .instratuction-thumbnail {
        -webkit-box-flex: 0;
        max-width: 40%;
        width: 40%;
        flex: 0 0 40%;
    }

    .jarallax {
        position: relative;
        z-index: 0;
    }

    .bg-img-inst{
        background-image: url(../../../assets/img/8.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
        background-size: 70% auto;
        display: none;
    }

    .instratuction-img{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: -100;
    }

    #jarallax-container-1 {
        clip: rect(0, 307.20001220703125px, 1205.2000732421875px, 0);
    }

    .services-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        width: 60%;
        padding-right: 10% !important;
    }

    .instruction-list-icon{
        width: 0.5% !important;
    
    }

    .instructions-set p{
        font-family: "Karla", sans-serif;
        font-size: 12px;
    }
    

    .instruction-icon{
        color: #77b122;
        font-size: large;
    }


}

@media (min-width: 600px) {
    .product-container{
        margin-top: 5% !important;
        
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 14px;
    }

    .section-title h2{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: -3px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .product-image{
        width: 100%;
    }

    .product-description{
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
    }

    .header-image{
        height: 320px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/18.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
    }

    .h-100{
        height: 100% !important;
    }

    .header-image .breadcrumb-text {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .header-image .breadcrumb-text h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 40px;
        font-family: "Karla", sans-serif;
        font-weight: 700;
    }

    .instratuction-area{
        position: relative;
        z-index: 1;
        background-color: rgb(242, 244, 245);
        height: 600px;
    }

    .instratuction-area .instratuction-thumbnail {
        -webkit-box-flex: 0;
        max-width: 40%;
        width: 40%;
        flex: 0 0 40%;
    }

    .jarallax {
        position: relative;
        z-index: 0;
    }

    .bg-img-inst{
        background-image: url(../../../assets/img/8.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
        background-size: 70% auto;
        display: none;
    }

    .instratuction-img{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: -100;
    }

    #jarallax-container-1 {
        clip: rect(0, 307.20001220703125px, 1205.2000732421875px, 0);
    }

    .services-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        width: 60%;
        padding-right: 10% !important;
    }

    .instruction-list-icon{
        width: 2% !important;
    }

    .instructions-set p{
        font-family: "Karla", sans-serif;
        font-size: 16px;
    }
    

    .instruction-icon{
        color: #77b122;
        font-size: large;
    }

}

@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
    .product-container{
        margin-top: 5% !important;
        
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 14px;
    }

    .section-title h2{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: -3px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .product-image{
        width: 100%;
    }

    .product-description{
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
    }

    .header-image{
        height: 320px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/18.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
    }

    .h-100{
        height: 100% !important;
    }

    .header-image .breadcrumb-text {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .header-image .breadcrumb-text h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 40px;
        font-family: "Karla", sans-serif;
        font-weight: 700;
    }

    .instratuction-area{
        position: relative;
        z-index: 1;
        background-color: rgb(242, 244, 245);
        height: 600px;
    }

    .instratuction-area .instratuction-thumbnail {
        -webkit-box-flex: 0;
        max-width: 40%;
        width: 40%;
        flex: 0 0 40%;
    }

    .jarallax {
        position: relative;
        z-index: 0;
    }

    .bg-img-inst{
        background-image: url(../../../assets/img/8.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
        background-size: 70% auto;
        display: inline;
    }

    .instratuction-img{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: -100;
    }

    #jarallax-container-1 {
        clip: rect(0, 307.20001220703125px, 1205.2000732421875px, 0);
    }

    .services-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        width: 60%;
        padding-right: 10% !important;
    }

    .instruction-list-icon{
        width: 2% !important;
    }

    .instructions-set p{
        font-family: "Karla", sans-serif;
        font-size: 16px;
    }
    

    .instruction-icon{
        color: #77b122;
        font-size: large;
    }

    

}