@media (max-width: 599px) {

}

@media (min-width: 600px) {

}

@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
    .product-image{
        width: 80%;
        height: 80%;
    }

    .product-type{
        color: #98DE94 !important;
    }

    .product-type-image{
     width: 50%;
    }

    .instratuction-area{
        position: relative;
        z-index: 1;
        background-color: rgb(242, 244, 245);
        height: 600px;
    }

    .instratuction-area .instratuction-thumbnail {
        -webkit-box-flex: 0;
        max-width: 40%;
        width: 40%;
        flex: 0 0 40%;
    }

    .jarallax {
        position: relative;
        z-index: 0;
    }

    .bg-img-inst{
        background-image: url(../../../assets/img/8.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
        background-size: 70% auto;
    }

    .instratuction-img{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: -100;
    }

    #jarallax-container-1 {
        clip: rect(0, 307.20001220703125px, 1205.2000732421875px, 0);
    }

    .services-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        width: 60%;
        padding-right: 10% !important;
    }

    .instruction-list-icon{
        width: 2% !important;
    }

    .instructions-set p{
        font-family: "Karla", sans-serif;
        font-size: 16px;
    }
    

    .instruction-icon{
        color: #77b122;
        font-size: large;
    }

    .product-description{
        font-family: "Karla", sans-serif;
        font-size: 16px;
    }

}