<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-lg-10"><h4 class="card-title">PRODUCTS - {{product.productName}}</h4></div>
                <div class="col-12 col-lg-2">
                  <img src="assets/img/pow.jpg" class="product-type-image" *ngIf="product.type=='solid'"/>
                  <img src="assets/img/liq.jpg" class="product-type-image"/></div>
                </div>
                <hr>
            </div>
            <div class="card-body">
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                          <img [src]="image" class="product-image"/>
                        </div>
                        <div class="col-12 col-lg-6">
                            <p class="product-description mt-2">{{product.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">INSTRUCTIONS</h4>
              </div>
              <div class="card-body">
                <div class="container instructions-set mt-5" *ngIf="!!product.instructions">
                    <div class="row mt-2" *ngFor="let instruction of product.instructions ">
                        <i class="fas fa-hand-point-right mr-3 instruction-icon"></i>
                        <p>{{instruction.description}}</p>
                    </div>

                </div>
              </div>
        </div>
    </div>

</div>
