@media (max-width: 599px) {
    .module {
        width: 100%;
        height: 50%;
        padding: 30px 10px ;
        text-align: center;
        color: #fff;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/7.jpg) no-repeat center center fixed;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
    }
    #intro .intro-body { 
        vertical-align: auto;
    }

    .intro-content{
        position: relative;
        margin-top: 5% !important;
        filter: brightness(100%) !important;
    }
    #intro .intro-body H2 {
        font-size: 25px;
        line-height: 1.3;
        font-weight: 700;
        color: #fff;
        text-transform: capitalize;
        font-family: "Karla", sans-serif;
        justify-content: center !important;
    }
    #intro .intro-body .brand-heading {
        color: #E75926;
        text-shadow: 0 4px #a13e1a;
    }
    #intro .intro-body .intro-text {
        font-size: 14px;
        justify-content: center !important;
        filter: brightness(100%) !important;
        -webkit-filter: none !important;
        align-self: center;
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 12px;
    }

    .section-title h2{
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 0px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .about-us-body-text{
        font-family: "Karla", sans-serif;
        font-size: 12px;
        line-height: 1.7;
        font-weight: 400;
    }

    .aboutus-image{
        height: auto;
        max-width: 100%;
    }

    .testimonial-area{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../..//assets/img/15.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
    }

    .testinominal-outer{
        padding-top: 5%;
    }

    .testinominal-name{
        justify-content: center;
    }
    .testinominal-outer h5{
        font-size: 12px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        font-weight: 400;
        font-family: Karla, sans-serif;
    }

     .testinominal-name h5{
        font-weight: 700;
        font-size: 12px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        font-family: Karla, sans-serif;
    }

    .testinominal-name h6{
        line-height: 1.5;
        font-weight: 700;
        font-family: Karla, sans-serif;
        color: rgb(119, 177, 34);
        margin-bottom: 0px;
    }

    .single-benifit{
        text-align: center;
    }

    .single-benifit h5{
        font-size: 18px;
        margin-bottom: 0;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
    }

    .services img{
        border-radius: 3px;
        height: auto;
        max-width: 100%;
        margin-bottom: 50px;
    }

}


@media (min-width: 600px) {
    .module {
        width: 100%;
        height: 65%;
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/7.jpg) no-repeat center center fixed;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
    }
    #intro .intro-body { 
        vertical-align: auto;
    }

    .intro-content{
        position: relative;
        margin-top: 5% !important;
        filter: brightness(100%) !important;
    }
    #intro .intro-body H2 {
        font-size: 40px;
        line-height: 1.3;
        font-weight: 700;
        color: #fff;
        text-transform: capitalize;
        font-family: "Karla", sans-serif;
        justify-content: left !important;
    }
    #intro .intro-body .brand-heading {
        color: #E75926;
        text-shadow: 0 4px #a13e1a;
    }
    #intro .intro-body .intro-text {
        font-size: 18px;
        justify-content: left !important;
        filter: brightness(100%) !important;
        -webkit-filter: none !important;
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 14px;
    }

    .section-title h2{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: -3px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .about-us-body-text{
        font-family: "Karla", sans-serif;
        font-size: 16px;
        line-height: 1.7;
        font-weight: 400;
    }

    .aboutus-image{
        height: auto;
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .testimonial-area{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../..//assets/img/15.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
    }

    .testinominal-outer{
        padding-top: 5%;
    }

    .testinominal-name{
        justify-content: center;
    }
    .testinominal-outer h5{
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        font-weight: 400;
        font-family: Karla, sans-serif;
    }

     .testinominal-name h5{
        font-weight: 700;
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        font-family: Karla, sans-serif;
    }

    .testinominal-name h6{
        line-height: 1.5;
        font-weight: 700;
        font-family: Karla, sans-serif;
        color: rgb(119, 177, 34);
        margin-bottom: 0px;
    }

    .single-benifit{
        text-align: center;
    }

    .single-benifit h5{
        font-size: 18px;
        margin-bottom: 0;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
    }

    .services img{
        border-radius: 3px;
        height: auto;
        max-width: 100%;
        margin-bottom: 50px;
    }
}


@media (min-width: 900px) {
    .module {
        width: 100%;
        height: 65%;
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/7.jpg) no-repeat center center fixed;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
    }
    #intro .intro-body { 
        vertical-align: auto;
    }

    .intro-content{
        position: relative;
        margin-top: 5% !important;
        filter: brightness(100%) !important;
    }
    #intro .intro-body H2 {
        font-size: 40px;
        line-height: 1.3;
        font-weight: 700;
        color: #fff;
        text-transform: capitalize;
        font-family: "Karla", sans-serif;
        justify-content: left !important;
    }
    #intro .intro-body .brand-heading {
        color: #E75926;
        text-shadow: 0 4px #a13e1a;
    }
    #intro .intro-body .intro-text {
        font-size: 18px;
        justify-content: left !important;
        filter: brightness(100%) !important;
        -webkit-filter: none !important;
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 18px;
    }

    .section-title h2{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: -3px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .about-us-body-text{
        font-family: "Karla", sans-serif;
        font-size: 22px;
        line-height: 1.7;
        font-weight: 400;
    }

    .aboutus-image{
        height: auto;
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .testimonial-area{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../..//assets/img/15.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
    }

    .testinominal-outer{
        padding-top: 5%;
    }

    .testinominal-name{
        justify-content: center;
    }
    .testinominal-outer h5{
        font-size: 22px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        font-weight: 400;
        font-family: Karla, sans-serif;
    }

     .testinominal-name h5{
        font-weight: 700;
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        font-family: Karla, sans-serif;
    }

    .testinominal-name h6{
        line-height: 1.5;
        font-weight: 700;
        font-family: Karla, sans-serif;
        color: rgb(119, 177, 34);
        margin-bottom: 0px;
    }

    .single-benifit{
        text-align: center;
    }

    .single-benifit h5{
        font-size: 22px;
        margin-bottom: 0;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
    }

    .services img{
        border-radius: 3px;
        height: auto;
        max-width: 100%;
        margin-bottom: 50px;
    }
}


@media (min-width: 1200px) {
    .module {
        width: 100%;
        height: 85%;
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/7.jpg) no-repeat center center fixed;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
    }
    #intro .intro-body { 
        vertical-align: auto;
    }

    .my-pagination /deep/ .ngx-pagination {
        background-color: white;
    }

    .my-pagination /deep/ .ngx-pagination .current{
        background-color: yellowgreen;
    }

    .intro-content{
        position: relative;
        margin-top: 5% !important;
        filter: brightness(100%) !important;
    }
    #intro .intro-body H2 {
        font-size: 50px;
        line-height: 1.3;
        font-weight: 700;
        color: #fff;
        text-transform: capitalize;
        font-family: "Karla", sans-serif;
        margin-left: -10% !important;
        justify-content: left !important;
    }
    #intro .intro-body .brand-heading {
        color: #E75926;
        text-shadow: 0 4px #a13e1a;
    }
    #intro .intro-body .intro-text {
        font-size: 18px;
        justify-content: left !important;
        filter: brightness(100%) !important;
        -webkit-filter: none !important;
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 14px;
    }

    .section-title h2{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: -3px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .about-us-body-text{
        font-family: "Karla", sans-serif;
        font-size: 14px !important;
        line-height: 1.7;
        font-weight: 400;
    }

    .aboutus-image{
        height: auto;
        max-width: 100%;
    }

    .testimonial-area{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../..//assets/img/15.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
    }

    .testinominal-outer{
        padding-top: 5%;
    }

    .testinominal-name{
        justify-content: center;
    }
    .testinominal-outer h5{
        font-size: 18px !important;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        font-weight: 400;
        font-family: Karla, sans-serif;
    }

     .testinominal-name h5{
        font-weight: 700;
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        font-family: Karla, sans-serif;
    }

    .testinominal-name h6{
        line-height: 1.5;
        font-weight: 700;
        font-family: Karla, sans-serif;
        color: rgb(119, 177, 34);
        margin-bottom: 0px;
    }

    .single-benifit{
        text-align: center;
    }

    .single-benifit h5{
        font-size: 18px !important;
        margin-bottom: 0;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
    }

    .services img{
        border-radius: 3px;
        height: auto;
        max-width: 100%;
        margin-bottom: 50px;
    }

    
    
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
}


