<div id="intro" class="module">
  <div class="module-inside intro-body">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-8 intro-content">
          <div class="row">
            <h2>The hearth of the farm is the </h2>
          </div>
          <div class="row">
            <h2>true center of our universe</h2>
          </div>
          <div class="row">
            <p class="intro-text">
              Natural Foliar Fertilizer Herbal Supplement
            </p>
          </div>

        </div>
        <div class="col-lg-2"></div>
      </div>

    </div>
  </div>
</div>
<div class="about-us mt-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-8 col-md-12">
        <div class="about-us-content mb-100">
          <div class="section-title">
            <p>about us</p>
            <h2>
              <span>Let Us</span> Tell Our Story
            </h2>
            <img src="assets/img/decor.png">
          </div>
          <p class="about-us-body-text mt-5">
            The Low yield in the harvest is one of the burning and concurrent issues in agriculture in Sri Lanka.
            Consequently the farmer gets low income and the consumer gets a low quantity compared to the cost incurred
            in the process. Therefore it is a challenge for the farmer to increase the production while working with the
            limited resources.
          </p>
          <p class="about-us-body-text mt-2">
            GroGreen is an efficient environmentally friendly high yielding organic method which has been discovered and
            does not contain any artificial chemicals.
          </p>
          <p class="about-us-body-text mt-2">
            GroGreen is a special plant leaf food produced by powdering natural minerals using nanotechnology. As a
            result of the imputation done at production level, it absorbs into plants easily through the leaves.
            Thereafter it increases the photosynthesis process in the leaf. As a result of using the GroGreen, an
            additional amount of glucose, amino acid and protein are produced inside the plant. This will help to
            enhance the yield as well as the taste and the weight of the harvest. Further, it will be possible to
            preserve the product for a long time with high quality after harvest. The most important characteristic of
            this product is its high resistance to disease and insect attacks as a result of the natural process and
            empowerment of the plant.
          </p>
          <p class="about-us-body-text mt-2">
            GROGREEN is a government-approved eco-friendly non-toxic fertilizer introduced by FUTURE FARMRS COMPANY
            (PVT) LTD.

            Using GROGREEN people can do their agriculture without damaging animals and the earth.

            The use of insecticides and fungicides can be minimized in the use of GROGREEN.

            GROGREEN Early application of crop leaves is seen to be very healthy. For the growth and success of any
            crop, keeping the leaves healthy is essential.

            GROGREEN has the ability to do just that. And also
            GROGREEN's crops contain essential elements such as calcium, magnesium, silicon, boron, potassium, and many
            other trace elements, as well as seaweed hormones.
            GROGREEN applies to any crop from an early stage and grows healthy. You can also increase the yield by 60%.
            Therefore, all the farmers who use GROGREEN have realized that using GROGREEN fertilizer is a cheap way.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-12">
        <img class="aboutus-image mb-100 mt-1" src="assets/img/set.jpg">
      </div>
    </div>
  </div>
</div>

<div *ngIf="sucess" class="alert alert-success alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Success!</strong> Action done Successfully!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Danger!</strong> Sorry, Something went wrong!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<section class="testimonial-area bg-img bg-overlay p-100 mt-4">
  <div *ngIf="getLength()">
    <div class="container" *ngFor="let feedback of feedbackResList | paginate: { itemsPerPage: 1, currentPage: p } ">
      <div class="row pb-5">
        <div class="col-12">
          <div class="testinominal-outer row mt-5">
            <div class="col-12 col-md-1">
              <img src="assets/img/quote.png">
            </div>
            <div class="col-12 col-md-11">
              <h5>
                "{{feedback?.message}}"
              </h5>
            </div>


          </div>
          <div class="row ml-3 mt-2">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <div class="testinominal-name">
                <h5>{{ feedback?.farmer?.firstName}} {{feedback?.farmer?.lastName}}</h5>
                <h6 style="text-align:'center'">{{feedback?.user?.role}}</h6>
              </div>

            </div>
            <div class="col-lg-4"></div>
          </div>

        </div>
      </div>

    </div>

  </div>
  <div *ngIf="!getLength()">
    <div class="container">
      <div class="row pb-5">
        <div class="col-12">
          <div class="testinominal-outer row mt-5">
            <div class="col-12 col-md-1">
              <img src="assets/img/quote.png">
            </div>
            <div class="col-12 col-md-11">
              <h5>
                "No Feedback yet. Tell your thoughts about us"
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>
<div class="container">
  <div class="row ml-3 mt-2 mb-5">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-9 mt-2">
          <pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize="5" autoHide="true"
            responsive="true">
          </pagination-controls>
        </div>
        <div class="col-lg-3">
          <button *ngIf="user" type="submit" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#feedbackAModal">
            <i class="far fa-comment-dots"></i> Rate Us
          </button>
        </div>
      </div>


    </div>
    <div class="col-lg-3"></div>
  </div>

</div>
<section class="services mt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="assets/img/18.jpg">
      </div>

    </div>
    <div class="row justify-content-center">

      <div class="col-12 col-sm-4 col-lg">
        <div class="single-benifit">
          <img src="assets/img/digger.png">
          <h5 class="mt-2">Best Services</h5>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-lg">
        <div class="single-benifit">
          <img src="assets/img/windmill.png">
          <h5 class="mt-2">Farm Experiences</h5>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-lg">
        <div class="single-benifit">
          <img src="assets/img/cereals.png">
          <h5 class="mt-2">Natural</h5>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-lg">
        <div class="single-benifit">
          <img src="assets/img/sunrise.png">
          <h5 class="mt-2">Organic Fertilizer</h5>
        </div>
      </div>

    </div>
  </div>
</section>



<div class="modal fade" id="feedbackAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="feedbackAddForm" (ngSubmit)="onSubmit(feedbackAddForm.value)">
          <div class="form-group">
            <label>Feedback :</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="nc-icon nc-satisfied"></i></span>
              </div>
              <textarea rows="4" cols="30" class="form-control" placeholder="Feedback" formControlName="feedback"
                required></textarea>
            </div>
          </div>
          <div
            *ngIf="!feedbackAddForm.controls['feedback'].valid && (feedbackAddForm.controls['feedback'].dirty||feedbackAddForm.controls['feedback'].touched)"
            class="alert alert-danger">Feedback is Required</div>

          <button type="submit" class="btn btn-success" [disabled]="!feedbackAddForm.valid">Add</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetForm()" #closeBtn>Close</button>

      </div>
    </div>
  </div>
</div>