@media (max-width: 599px) {
    .product-container{
        margin-top: 5% !important;
        
    }

    .pagination-section{
        text-align: center;
        justify-content: center;
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 12px;
    }

    .section-title h2{
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: -3px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .product-image{
        width: 100%;
    }

    .product-description{
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
    }

    .header-image{
        height: 220px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/18.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
    }

    .h-100{
        height: 100% !important;
    }

    .header-image .breadcrumb-text {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .header-image .breadcrumb-text h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 30px;
        font-family: "Karla", sans-serif;
        font-weight: 700;
    }

    .success-story{
        position: relative;
        -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0,0.5);
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    }

    .card-header-image {
        background-image: url('/assets/img/s5.png');
        background-size: cover;
      }

      .sucess-item p{
        font-family: "Karla", sans-serif;
        font-size: 12px;
        line-height: 1.7;
        font-weight: 400;
      }

}

@media (min-width: 600px) {
    .product-container{
        margin-top: 5% !important;
        
    }

    .pagination-section{
        text-align: center;
        justify-content: center;
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 14px;
    }

    .section-title h2{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: -3px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .product-image{
        width: 100%;
    }

    .product-description{
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
    }

    .header-image{
        height: 320px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/18.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
    }

    .h-100{
        height: 100% !important;
    }

    .header-image .breadcrumb-text {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .header-image .breadcrumb-text h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 40px;
        font-family: "Karla", sans-serif;
        font-weight: 700;
    }

    .success-story{
        position: relative;
        -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0,0.5);
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    }

    .card-header-image {
        background-image: url('/assets/img/s5.png');
        background-size: cover;
      }

      .sucess-item p{
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
      }
}

@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
    .product-container{
        margin-top: 5% !important;
        
    }

    .pagination-section{
        text-align: center;
        justify-content: center;
    }

    .section-title{
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 2px !important;
        font-size: 14px;
    }

    .section-title h2{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: -3px;
        font-family: "Karla", sans-serif;
        color: #303030;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }

    .section-title h2 span{
        color: #77b122;
    }

    .section-title img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .product-image{
        width: 100%;
    }

    .product-description{
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
    }

    .header-image{
        height: 320px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/18.jpg) ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        background-attachment: fixed;
    }

    .h-100{
        height: 100% !important;
    }

    .header-image .breadcrumb-text {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .header-image .breadcrumb-text h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 40px;
        font-family: "Karla", sans-serif;
        font-weight: 700;
    }

    .success-story{
        position: relative;
        -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0,0.5);
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    }

    .card-header-image {
        background-image: url('/assets/img/s5.png');
        background-size: cover;
      }

      .sucess-item p{
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
      }
}