<div class="header-image bg-img bg-overlay p-100 mt-5">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-12">
        <div class="breadcrumb-text">
          <h2>Success Stories</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <mat-card>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <img src="assets/img/next1.jpg">
      </div>
      <div class="col-lg-2"></div>
    </div>

  </mat-card>
  <!-- <mat-card *ngFor="let item of success | paginate: { itemsPerPage: 3, currentPage: p}" class="sucess-item mb-5">
        <mat-card-header>
            <div mat-card-avatar class="card-header-image"></div>
            <mat-card-title>{{item.user}}</mat-card-title>
            <mat-card-subtitle>{{item.date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <p>{{item.description}}</p>
                <div class="container mb-5">
                      <div class="row text-center text-lg-left">
                        <div class="col-lg-3 col-md-4 col-6" *ngFor="let image of item.images">
                          <div class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail w-100 h-100" [src]="image.image" alt="">
                              </div>
                        </div>
                      </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="container pagination-section" style="align-items: center;">
      <pagination-controls (pageChange)="p = $event" maxSize="9"
    directionLinks="true"
    responsive="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"></pagination-controls>
    </div>
     -->
</div>