<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
    <span class="alert-inner--text"><strong>Danger!</strong> Sorry, Username password Incorrect!</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeDAlert()">
      <span aria-hidden="true">×</span>
    </button>
</div>

   <div class="row">
    <div class="col-lg-3 col-12 col-sm-2 col-md-3" ></div>
    <div class="col-lg-6 col-12 col-sm-8 col-md-6">
     <mat-card class="login-card justify-between">
       <div class="row">
        <div class="content col-lg-12">
          <div class="title">
            <h1>User Login</h1>
          </div>
          <div class="container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
              </div>
              <button [disabled]="loading" type="submit" class="btn btn-primary login-button-submit">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Submit
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form> 
          </div>
        </div>
       </div>
      
     </mat-card>
    </div>
    <div class="col-lg-3 col-12 col-sm-2"></div>
  </div>



  
