body{
    overflow-x: hidden !important;
}

@media (max-width: 599px) {
    .login-card{
        margin-top: 20%;
        width: 100%;
        background-color: #FFF;
        height: 100%;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
        border-radius: 30px;
        overflow: hidden;
    }

    .justify-between {
        justify-content: space-between;
    }

    .title{
        padding: 2rem 0;
        margin-top: -2rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title h1{
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
        line-height: 2;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #1c926b;
    }

    .content{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login-card-header{
        background-image: linear-gradient(to right, #42B354, #31F24F) !important;
    }

    .login-card-header-title{
        color: white;
        text-align: center !important;
        justify-content: center !important;
        align-self: center !important;
        align-content: center;
        font-weight: 600;
        margin-left:25%;
    }

    .login-button-submit{
        width: 100%;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        background-image: linear-gradient(to right, rgba(25, 228, 118, 0.92), rgba(18, 80, 57, 0.53));
        color: #FFF;
    }

    .aside-plate{
        width: 100%;
        background-image: linear-gradient(to right, rgba(17, 105, 81, 0.78), rgba(52, 230, 128, 0.8));
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .aside-plate h1{
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        text-align: center;
        color: #FFF;
        text-transform: capitalize;
        line-height: 2;
        display: none;
    }

}

@media (min-width: 600px) {
    .login-card{
        margin-top: 20%;
        width: 100%;
        background-color: #FFF;
        height: 100%;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
        border-radius: 30px;
        overflow: hidden;
    }

    .justify-between {
        justify-content: space-between;
    }

    .title{
        padding: 2rem 0;
        margin-top: -2rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title h1{
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
        line-height: 2;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #1c926b;
    }

    .content{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login-card-header{
        background-image: linear-gradient(to right, #42B354, #31F24F) !important;
    }

    .login-card-header-title{
        color: white;
        text-align: center !important;
        justify-content: center !important;
        align-self: center !important;
        align-content: center;
        font-weight: 600;
        margin-left:25%;
    }

    .login-button-submit{
        width: 100%;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        background-image: linear-gradient(to right, rgba(25, 228, 118, 0.92), rgba(18, 80, 57, 0.53));
        color: #FFF;
    }

    .aside-plate{
        width: 100%;
        background-image: linear-gradient(to right, rgba(17, 105, 81, 0.78), rgba(52, 230, 128, 0.8));
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .aside-plate h1{
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        text-align: center;
        color: #FFF;
        text-transform: capitalize;
        line-height: 2;
        display: none;
    }

}

@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
    .login-card{
        margin-top: 20%;
        width: 100%;
        background-color: #FFF;
        height: 90%;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
        border-radius: 30px;
        overflow: hidden;
    }

    .justify-between {
        justify-content: space-between;
    }

    .title{
        padding: 2rem 0;
        margin-top: -2rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title h1{
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
        line-height: 2;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #1c926b;
    }

    .content{
        width: 60%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login-card-header{
        background-image: linear-gradient(to right, #42B354, #31F24F) !important;
    }

    .login-card-header-title{
        color: white;
        text-align: center !important;
        justify-content: center !important;
        align-self: center !important;
        align-content: center;
        font-weight: 600;
        margin-left:25%;
    }

    .login-button-submit{
        width: 200px;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        background-image: linear-gradient(to right, rgba(25, 228, 118, 0.92), rgba(18, 80, 57, 0.53));
        color: #FFF;
    }

    .aside-plate{
        width: 100%;
        background-image: linear-gradient(to right, rgba(17, 105, 81, 0.78), rgba(52, 230, 128, 0.8));
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .aside-plate h1{
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        text-align: center;
        color: #FFF;
        text-transform: capitalize;
        line-height: 2;
    }

}