<div *ngIf="sucess" class="alert alert-success alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Success!</strong> Action done Successfully!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Danger!</strong> Sorry, Something went wrong!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h4 class="card-title">Agents</h4>
          </div>
          <div class="col-12 col-lg-4"></div>
          <div class="col-12 col-lg-2"></div>
          <div class="col-12 col-lg-2 float-right"><button type="button" class="btn btn-success btn-circle"
              data-toggle="modal" data-target="#agentAModal"><i class="fas fa-plus-circle"></i></button></div>
        </div>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agent of agents | paginate: { itemsPerPage: 10, currentPage: p }">
                <th scope="row">{{agent.agentId}}</th>
                <td>{{agent.firstName}}</td>
                <td>{{agent.lastName}}</td>
                <td>{{agent.user.username}}</td>
                <td>{{agent.user.status | uppercase}}</td>
                <td>
                  <div class="row">
                    <button class="btn btn-primary ml-1 mr-1 mb-1" role="button" (click)="viewAgent(agent)"><i
                        class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-success ml-1 mr-1 mb-1" data-toggle="modal"
                      data-target="#AgentEditModal" (click)="getEditData(agent)"><i
                        class="fas fa-pencil-alt"></i></button>
                    <button type="button" class="btn btn-danger ml-1 mr-1 mb-1" data-toggle="modal"
                      data-target="#deleteAgents" (click)="getDeleteData(agent.user)"><i
                        class="far fa-trash-alt"></i></button>
                    <button type="button" class="btn btn-warning ml-1 mr-1 mb-1" data-toggle="modal"
                      data-target="#resetPassword" (click)="getResetData(agent.user)">Reset Password</button>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          <div class="row mt-5">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize="5" autoHide="true"
                responsive="true">
              </pagination-controls>
            </div>
            <div class="col-lg-4"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="agentAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Agent</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="agentAddForm" (ngSubmit)="onSubmit(agentAddForm.value)">
            <div class="form-group">
              <label>First Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Namal" type="text" formControlName="fname" required />
              </div>
            </div>
            <div
              *ngIf="!agentAddForm.controls['fname'].valid && (agentAddForm.controls['fname'].dirty||agentAddForm.controls['fname'].touched)"
              class="alert alert-danger">First Name is Required</div>
            <div class="form-group">
              <label>Last Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Sandaruwan" type="text" formControlName="lname" required />
              </div>
            </div>
            <div
              *ngIf="!agentAddForm.controls['lname'].valid && (agentAddForm.controls['lname'].dirty||agentAddForm.controls['lname'].touched)"
              class="alert alert-danger">Last Name is Required
            </div>
            <div class="form-group">
              <label>User Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="NamalS" type="text" formControlName="username" required />
              </div>
            </div>
            <div
              *ngIf="!agentAddForm.controls['username'].valid && (agentAddForm.controls['username'].dirty||agentAddForm.controls['username'].touched)"
              class="alert alert-danger">Username is Required</div>

            <div class="form-group">
              <label>Password :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input class="form-control" id="password" type="password" formControlName="password" required /><i
                  class="fas fa-eye eye" (click)="showhide()" *ngIf="show"></i><i class="fas fa-eye-slash eye"
                  *ngIf="!show" (click)="showhide()"></i>
              </div>
            </div>
            <div
              *ngIf="!agentAddForm.controls['password'].valid && (agentAddForm.controls['password'].dirty||agentAddForm.controls['password'].touched)"
              class="alert alert-danger">Password minimum six characters with one uppercase one lowercase one number one
              special character
            </div>

            <div class="form-group">
              <label>Area :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Kandy" type="text" formControlName="area" required />
              </div>
            </div>
            <div
              *ngIf="!agentAddForm.controls['area'].valid && (agentAddForm.controls['area'].dirty||agentAddForm.controls['area'].touched)"
              class="alert alert-danger">Area is Required
            </div>

            <div class="form-group">
              <label>Mobile :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-mobile"></i></span>
                </div>
                <input class="form-control" placeholder="Enter your mobile" type="text" formControlName="mobile"
                  required />
              </div>
            </div>
            <div
              *ngIf="!agentAddForm.controls['mobile'].valid && (agentAddForm.controls['mobile'].dirty||agentAddForm.controls['mobile'].touched)"
              class="alert alert-danger">Mobile is Required
            </div>

            <div class="form-group">
              <label>Address :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-pin-3"></i></span>
                </div>
                <input class="form-control" placeholder="Enter your address" type="text" formControlName="address"
                  required />
              </div>
            </div>
            <div
              *ngIf="!agentAddForm.controls['address'].valid && (agentAddForm.controls['address'].dirty||agentAddForm.controls['address'].touched)"
              class="alert alert-danger">Address is Required
            </div>


            <div class="form-group product-imge-up-container">
              <label>Farmer Image :</label>
              <input type='file' class="ng-hide form-control" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                (change)="uploadFile($event)" />
              <button type="submit" class="btn btn-info btn-block product-image-up-b" (click)="fileInput.click()">Upload
                Image</button>
              <div id="imagePreview" class="card image-preview-card">
                <img [src]='imageUrl' class="product-image" />
                Upload Percent: {{percentDone}}% <br />

                <ng-container *ngIf="uploadSuccess">
                  Upload Successful
                </ng-container>
              </div>
            </div>


            <button type="submit" class="btn btn-success" [disabled]="!agentAddForm.valid">Add</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearData()"
            #closeBtn>Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="AgentEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Agent</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearData()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="agentEditForm" (ngSubmit)="onEdit(agentEditForm.value)">
            <div class="form-group">
              <label>First Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Namal" type="text" formControlName="fname" required />
              </div>
            </div>
            <div
              *ngIf="!agentEditForm.controls['fname'].valid && (agentEditForm.controls['fname'].dirty||agentEditForm.controls['fname'].touched)"
              class="alert alert-danger">First Name is Required</div>
            <div class="form-group">
              <label>Last Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Sandaruwan" type="text" formControlName="lname" required />
              </div>
            </div>
            <div
              *ngIf="!agentEditForm.controls['lname'].valid && (agentEditForm.controls['lname'].dirty||agentEditForm.controls['lname'].touched)"
              class="alert alert-danger">Last Name is Required
            </div>

            <div class="form-group">
              <label>Status :</label>
              <div class="input-group input-group-alternative mb-3">
                <!-- <div class="input-group-prepend">
                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                    </div> -->
                <select class="custom-select" id="status" formControlName="status">
                  <option *ngFor="let status of allStatus" [ngValue]="status">{{status | uppercase}}</option>
                </select>
              </div>
            </div>
            <div
              *ngIf="!agentEditForm.controls['status'].valid && (agentEditForm.controls['status'].dirty||agentEditForm.controls['status'].touched)"
              class="alert alert-danger">Status is Required
            </div>

            <div class="form-group">
              <label>User Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="NamalS" type="text" formControlName="username" required
                  disabled />
              </div>
            </div>
            <div
              *ngIf="!agentEditForm.controls['username'].valid && (agentEditForm.controls['username'].dirty||agentEditForm.controls['username'].touched)"
              class="alert alert-danger">Username is Required</div>

            <div class="form-group">
              <label>Area :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Kandy" type="text" formControlName="area" required />
              </div>
            </div>
            <div
              *ngIf="!agentEditForm.controls['area'].valid && (agentEditForm.controls['area'].dirty||agentEditForm.controls['area'].touched)"
              class="alert alert-danger">Area is Required
            </div>

            <div class="form-group">
              <label>Mobile :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-mobile"></i></span>
                </div>
                <input class="form-control" placeholder="Enter your mobile" type="text" formControlName="mobile"
                  required />
              </div>
            </div>
            <div
              *ngIf="!agentEditForm.controls['mobile'].valid && (agentEditForm.controls['mobile'].dirty||agentEditForm.controls['mobile'].touched)"
              class="alert alert-danger">Mobile is Required
            </div>

            <div class="form-group">
              <label>Address :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-pin-3"></i></span>
                </div>
                <input class="form-control" placeholder="Enter your address" type="text" formControlName="address"
                  required />
              </div>
            </div>
            <div
              *ngIf="!agentEditForm.controls['address'].valid && (agentEditForm.controls['address'].dirty||agentEditForm.controls['address'].touched)"
              class="alert alert-danger">Address is Required
            </div>


            <button type="submit" class="btn btn-success" [disabled]="!agentEditForm.valid">Update</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearData()"
            #ecloseBtn>Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteAgents" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-danger">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Agent</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete Agent with ID {{deletedUser && deletedUser.id}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteUser()">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="getAllAgents()">No</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-danger">
          <h5 class="modal-title" id="exampleModalLongTitle">Reset Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to Reset Password of Agent with ID {{resetUser && resetUser.id}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="resetPassword()">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>