
  @media (max-width: 599px) {
    .margin{
        margin-top: 100px !important;
    }
  }

  @media (min-width: 600px) {
    .margin{
        margin-top: 100px !important;
    }
  }

  @media (min-width: 900px) {
    .margin{
        margin-top: 100px !important;
    }
  }
  
  /* for-desktop-up */
  @media (min-width: 1200px) {
      .margin{
          margin-top: 150px !important;
      }
    
  }

 