<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h4 class="card-title">Products</h4>
          </div>
          <div class="col-12 col-lg-4"></div>
          <div class="col-12 col-lg-2"></div>
          <!-- <div class="col-12 col-lg-2 float-right"><button type="button" class="btn btn-success btn-circle"
              data-toggle="modal" data-target="#productAModal"><i class="fas fa-plus-circle"></i></button></div> -->
        </div>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products | paginate: { itemsPerPage: 4, currentPage: p }">
                <th scope="row">{{product.id}}</th>
                <td>{{product.productName}}</td>
                <td>{{product.description}}</td>
                <td>
                  <div class="row">
                    <a class="btn btn-primary ml-1 mr-1 mb-1" role="button"
                      [routerLink]="['/agent/products/product/',product.id]"><i class="far fa-eye"></i></a>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize="5" autoHide="true"
                responsive="true">
              </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

