<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Success!</strong> Action done Successfully!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Danger!</strong> Sorry, Something went wrong!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h4 class="card-title">Products</h4>
          </div>
          <div class="col-12 col-lg-4"></div>
          <div class="col-12 col-lg-2"></div>
          <div class="col-12 col-lg-2 float-right"><button type="button" class="btn btn-success btn-circle"
              data-toggle="modal" data-target="#productAModal"><i class="fas fa-plus-circle"></i></button></div>
        </div>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: p }">
                <th scope="row">{{product.id}}</th>
                <td>{{product.productName}}</td>
                <td>{{product.description}}</td>
                <td>
                  <div class="row">
                    <a class="btn btn-primary ml-1 mr-1 mb-1" role="button"
                      [routerLink]="['/admin/products/product/',product.id]"><i class="far fa-eye"></i></a>
                    <button type="button" class="btn btn-success ml-1 mr-1 mb-1" data-toggle="modal"
                      data-target="#productEModal" (click)="getEditData(product.id)"><i
                        class="fas fa-pencil-alt"></i></button>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          <div class="row mt-5">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize="5" autoHide="true"
                responsive="true">
              </pagination-controls>
            </div>
            <div class="col-lg-4"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="productAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productAddForm" (ngSubmit)="onSubmit(productAddForm.value)">
            <div class="form-group">
              <label>Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Name" type="text" formControlName="productName" required />
              </div>
            </div>
            <div
              *ngIf="!productAddForm.controls['productName'].valid && (productAddForm.controls['productName'].dirty||productAddForm.controls['productName'].touched)"
              class="alert alert-danger">Product Name is Required</div>
            <div class="form-group">
              <label>Description :</label>
              <div class="input-group input-group-alternative mb-3">
                <textarea rows="4" cols="30" name="description" class="form-control textarea"
                  formControlName="description" required>
                    </textarea>
              </div>
            </div>
            <div
              *ngIf="!productAddForm.controls['description'].valid&&(productAddForm.controls['description'].dirty||productAddForm.controls['description'].touched)"
              class="alert alert-danger">Product Description is Required</div>
            <div class="form-group">
              <label>Type :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="radio">
                  <label><input type="radio" name="type" checked class="form-control" value="solid"
                      formControlName="type" checked>Solid</label>
                </div>
                <div class="radio">
                  <label class="ml-4"><input type="radio" formControlName="type" name="type" class="form-control"
                      value="liquid">Liquid</label>
                </div>
              </div>
            </div>
            <div
              *ngIf="!productAddForm.controls['type'].valid&&(productAddForm.controls['type'].dirty||productAddForm.controls['type'].touched)"
              class="alert alert-danger">Type Description is Required</div>

            <div class="form-group">
              <label>Instructions</label>
              <div class="input-group input-group-alternative mb-3">
                <input type="text" class="form-control" formControlName="instructions"
                  placeholder="Add next instruction" [(ngModel)]="instructionDesc" />
                <div class="input-group-btn">
                  <button class="btn btn-success ml-1 mr-1 mb-1" type="button" (click)="onInstructionAddButtonClick()">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </div>
              </div>
              <br />
              <ul class="list-group">
                <li *ngFor="let instruction of instructions; let i = index" class="list-group-item">
                  <span> {{ instruction.description }} </span>
                  <div class="input-group-btn">
                    <button class="btn btn-danger ml-1 mr-1 mb-1" type="button"
                      (click)="onInstructionRemoveButtonClick(i)">
                      <i class="fa fa-times-circle"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>

            <div class="form-group product-imge-up-container">
              <label>Product Image :</label>
              <input type='file' class="ng-hide form-control" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                (change)="uploadFile($event)" />
              <button type="submit" class="btn btn-info btn-block product-image-up-b" (click)="fileInput.click()">Upload
                Image</button>
              <div id="imagePreview" class="card image-preview-card">
                <img [src]='imageUrl' class="product-image" />
              </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!productAddForm.valid">Add</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearData()"
            #closeBtn>Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="productEModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitleEdit">Edit Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productAddForm" (ngSubmit)="onEdit(productAddForm.value, editProduct.id)">
            <div class="form-group">
              <label>Name :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>
                </div>
                <input class="form-control" placeholder="Name" type="text" formControlName="productName" required />
              </div>
            </div>
            <div
              *ngIf="!productAddForm.controls['productName'].valid && (productAddForm.controls['productName'].dirty||productAddForm.controls['productName'].touched)"
              class="alert alert-danger">Product Name is Required</div>
            <div class="form-group">
              <label>Description :</label>
              <div class="input-group input-group-alternative mb-3">
                <textarea rows="4" cols="30" name="description" class="form-control textarea"
                  formControlName="description" required>
                    </textarea>
              </div>
            </div>
            <div
              *ngIf="!productAddForm.controls['description'].valid&&(productAddForm.controls['description'].dirty||productAddForm.controls['description'].touched)"
              class="alert alert-danger">Product Description is Required</div>
            <div class="form-group">
              <label>Type :</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="radio">
                  <label><input type="radio" name="type" checked class="form-control" value="solid"
                      formControlName="type" checked>Solid</label>
                </div>
                <div class="radio">
                  <label class="ml-4"><input type="radio" formControlName="type" name="type" class="form-control"
                      value="liquid">Liquid</label>
                </div>
              </div>
            </div>
            <div
              *ngIf="!productAddForm.controls['type'].valid&&(productAddForm.controls['type'].dirty||productAddForm.controls['type'].touched)"
              class="alert alert-danger">Type Description is Required</div>

            <div class="form-group">
              <label>Instructions</label>
              <div class="input-group input-group-alternative mb-3">
                <input type="text" class="form-control" formControlName="instructions"
                  placeholder="Add next instruction" [(ngModel)]="instructionDesc" />
                <div class="input-group-btn">
                  <button class="btn btn-primary" type="button" (click)="onInstructionAddButtonClick()">
                    <span class="input-group-text"></span>
                  </button>
                </div>
              </div>
              <br />
              <ul class="list-group">
                <li *ngFor="let instruction of instructions; let i = index" class="list-group-item">
                  <span> {{ instruction.description }} </span>
                  <div class="input-group-btn">
                    <button class="btn btn-success ml-1 mr-1 mb-1" type="button"
                      (click)="onInstructionRemoveButtonClick(i)">
                      <span class="input-group-text"></span>
                    </button>
                  </div>
                </li>
              </ul>
            </div>

            <div class="form-group product-imge-up-container">
              <label>Product Image :</label>
              <input type='file' class="ng-hide form-control" id="imageUploadEdit" accept=".png, .jpg, .jpeg" #fileInput
                (change)="uploadFile($event)" />
              <button type="submit" class="btn btn-info btn-block product-image-up-b" (click)="fileInput.click()">Upload
                Image</button>
              <div id="imagePreviewEdit" class="card image-preview-card">
                <img [src]='fileTransferService.loadImage(productImageUrl) | async' class="product-image" />
              </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!productAddForm.valid">Add</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearData()"
            #ecloseBtn>Close</button>

        </div>
      </div>
    </div>
  </div>

