.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch .checkboxI { 
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #398bf7;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .checkboxI {
      border: 1px grey !important;
  }
  
  .checkboxI:checked + .slider {
    background-color: #398bf7;
  }
  
  .checkboxI:focus + .slider {
    box-shadow: 0 0 1px grey;
  }
  
  .checkboxI:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px ;
    border:1px grey;
  }
  
  .slider.round:before {
    border-radius: 50%;
    border:1px grey;
  }

  .agent-text{
      margin-right: 3%;
      align-self: center;
  }

  .farmer-text{
    margin-left: 3%;
    align-self: center;
  }

  .center{
      align-items: center !important;
      justify-content: center !important;
      align-self: center;
  }

  /* .toggle-button-container{
      align-items: center;
      margin-left: 45%;
  } */

@media all and (max-width: 599px) {  }



@media all and (min-width: 600px) {  }


@media all and (min-width: 900px) {  }



@media all and (min-width: 1200px) {  
    
 }
@media all and (min-width: 1690px) { }