@media (max-width: 599px) {

    .hide{
        display: none;
      }

      .eye{
        color: #c3c3c3;
        margin-top: 2.5%;
        margin-left: 0.5%;
      }

}

@media (min-width: 600px) {
    .hide{
        display: none;
      }

      .eye{
        color: #c3c3c3;
        margin-top: 2.5%;
        margin-left: 0.5%;
      }


}

@media (min-width: 900px) {
    .hide{
        display: none;
      }

      .eye{
        color: #c3c3c3;
        margin-top: 2.5%;
        margin-left: 0.5%;
      }

}

/* for-desktop-up */
@media (min-width: 1200px) {

      .hide{
        display: none;
      }

      .eye{
        color: #c3c3c3;
        margin-top: 2.5%;
        margin-left: 0.5%;
      }

      
}