<div *ngIf="sucess" class="alert alert-success alert-dismissible fade show" role="alert">
    <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
    <span class="alert-inner--text"><strong>Success!</strong> Action done Successfully!</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  
  <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
    <span class="alert-inner--text"><strong>Danger!</strong> Sorry, Something went wrong!</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

<div class="container">

    <div class="row mt-3 mb-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="container">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-lg-3"></div>
                            <div class="col-12 col-lg-6">
                                <h4 class="card-title">Reset Password</h4>
                            </div>
                            <div class="col-12 col-lg-3"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
                            <div class="form-group">
                                <label>Old Password :</label>
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                    </div>
                                    <input class="form-control" id="ppassword" type="password"
                                        formControlName="opassword" required /><i class="fas fa-eye eye"
                                        (click)="pshowhide()" *ngIf="pshow"></i><i class="fas fa-eye-slash eye"
                                        *ngIf="!pshow" (click)="pshowhide()"></i>

                                </div>
                            </div>
                            <div *ngIf="!changePasswordForm.controls['opassword'].valid && (changePasswordForm.controls['opassword'].dirty||changePasswordForm.controls['opassword'].touched)"
                                class="alert alert-danger">Old Password is Required</div>
                            <div class="form-group">
                                <label>New Password :</label>
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                    </div>
                                    <input class="form-control" id="password" type="password"
                                        formControlName="npassword" required /><i class="fas fa-eye eye"
                                        (click)="nshowhide()" *ngIf="show"></i><i class="fas fa-eye-slash eye"
                                        *ngIf="!show" (click)="nshowhide()"></i>
                                </div>
                            </div>
                            <div *ngIf="!changePasswordForm.controls['npassword'].valid && (changePasswordForm.controls['npassword'].dirty||changePasswordForm.controls['npassword'].touched)"
                                class="alert alert-danger">Password minimum six characters with one uppercase one
                                lowercase one number one
                                special character</div>



                            <button type="submit" class="btn btn-success"
                                [disabled]="!changePasswordForm.valid">Reset</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

</div>