<div class="container load-container" id="loader" [class]="showhide">
    <div class="row" >
        <div class= "col-lg-5 col-md-4"></div>
        <div class="col-lg-2 col-md-4 imag-container">
            <img src="assets/img/loading.gif" class="loadding-img" />
        </div>
    
        <div class="col-lg-5 col-md-4"></div>
    </div>
</div>




<router-outlet></router-outlet>