


@media (max-width: 599px) {
    .loadding{
        align-items: center;
        justify-content: center;
        margin-top: 80% !important;
    }
    
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .hide-loadding{
        display: none;
    }
    
    .loadding-img{
        max-width: 20%;
        max-height: 20%;
        display: block;
        margin: 0 auto;
    }
    
    .load-container{
        margin-left: 40%;
        margin-right: 40%;
    }

    .imag-container{
        margin-left: 5%;
        margin-right: 5%;
        align-items: center !important;
        justify-content: center;
    }
    

}

@media (min-width: 600px) {
    .loadding{
        align-items: center;
        justify-content: center;
        margin-top: 50% !important;
    }
    
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .hide-loadding{
        display: none;
    }
    
    .loadding-img{
        max-width: 40%;
        max-height: 40%;
        display: block;
        margin: 0 auto;
    }
    
    .load-container{
        margin-left: 40%;
        margin-right: 40%;
    }

    .imag-container{
        margin-left: 5%;
        margin-right: 5%;
        align-items: center !important;
        justify-content: center;
    }


}

@media (min-width: 900px) {
    .loadding{
        align-items: center;
        justify-content: center;
        margin-top: 50% !important;
    }
    
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .hide-loadding{
        display: none;
    }
    
    .loadding-img{
        max-width: 80% !important;
        max-height: 80% !important;
        display: block;
        margin: 0 auto;
    }
    
    .load-container{
        margin-left: 40%;
        margin-right: 40%;
    }

    .imag-container{
        margin-left: 5%;
        margin-right: 5%;
        align-items: center !important;
        justify-content: center;
    }


}

/* for-desktop-up */
@media (min-width: 1200px) {

    .loadding{
        align-items: center;
        justify-content: center;
        margin-top: 20% !important;
    }
    
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .hide-loadding{
        display: none;
    }
    
    .loadding-img{
        max-width: 30% !important;
        max-height: 30% !important;
    }
    
    .load-container{
        margin-left: 25px;
        margin-right: 25px;
    }

    .imag-container{
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
    }

      
}