<div class="row">
  
  
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="assets/img/bg_su.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="admin">
              <img class="avatar border-gray" src={{imageUrlWithBaseUrl+farmer.imageUrl}} alt="...">
              <h5 class="title">{{farmer.firstName}} {{farmer.lastName}}</h5>
            </a>
            <p class="description">
              {{farmer.username}}
            </p>
          </div>
          <p class="description text-center">
            "Items Grow: {{farmer.itemsGrow}}"
          </p>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-6 ml-auto">
                
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                <h5>{{farmer.cultivationArea}}
                  <br>
                  <small>Acers</small>
                </h5>
              </div>
              <div class="col-lg-3 mr-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Agent</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="{{imageUrlWithBaseUrl+farmer.agent.imageUrl}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  {{farmer.agent.firstName}} {{farmer.agent.lastName}}
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input type="text" class="form-control" disabled="" placeholder="Company" value="Grow Green">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" disabled="" placeholder="Username" [value]="farmer.username">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" disabled="" placeholder="Email" [value]="farmer.username">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" disabled="" placeholder="Company" [value]="farmer.firstName">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" disabled="" placeholder="Last Name" [value]="farmer.lastName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" disabled="" placeholder="Home Address" [value]="farmer.address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Tel no</label>
                  <input type="text" class="form-control" disabled="" placeholder="City" [value]="farmer.mobile">
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea class="form-control textarea" rows="6">{{farmer.description}}</textarea>
                </div>
              </div> -->
            </div>
            <div class="row">
              <!-- <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>