<nav class="navbar navbar-dark navbar-expand-lg navbar-top fixed-top">
  <div class="container-fluid px-0">
    <a class="navbar-brand title nav-link " [routerLink]="['/common/']"><img class="nav-logo1" src="assets/img/nLogo1.png"
        alt="log"> GRO
      <span class="second-title">GREEN</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isShown = !isShown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent"
      [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/common/']"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-list-alt"></i> Our Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngFor="let product of products">
              <a class="dropdown-item nav-link" [routerLink]="['/common/products',product.id]"> <i
                  class="fa fa-leaf"></i> {{product.productName}} </a>
            </div>
          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/common/success']" (click)="isShown = false"><i
              class="fa fa-check-square"></i> Success
            Strories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/common/map"><i class="fa fa-map-marker"></i> Map</a>
        </li>
        <li class="nav-item navbar-right" *ngIf="!role">
          <a class="nav-link" [routerLink]="['/login']" (click)="isShown = false"><i class="fa fa-sign-in-alt"></i>
            Login</a>
        </li>
        <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left" *ngIf="user">
          <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink" >
            <i class="fa fa-sign-in-alt"></i> Log Out
            <!-- <p>
              <span class="d-lg-none d-md-block">Account</span>
            </p> -->
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <!-- <a ngbDropdownItem href="/common/profile">Profile</a> -->
            <a ngbDropdownItem href="/common/change-password">Change Password</a>
            <a ngbDropdownItem [routerLink]="['/login']" (click)="logout()">Log Out</a>
          </div>
        </li>
        <li class="nav-item navbar-right" *ngIf="admin">
          <a class="nav-link" [routerLink]="['/admin']" (click)="isShown = false"><i class="fas fa-tachometer-alt"></i>
            Dasboard</a>
        </li>
        <li class="nav-item navbar-right" *ngIf="agent">
          <a class="nav-link" [routerLink]="['/agent']" (click)="isShown = false"><i class="fas fa-tachometer-alt"></i>
            Dasboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>