
  @media (max-width: 599px) {
    .navbar-top{
      background-color: #ffffff !important;
      
    }

    .nav-item  .dropdown-menu .dropdown-item{
      border-bottom: 1px !important;
      border-color: black;
    }

    .title{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .second-title{
      color: #32C551 !important;
    }

    li .is-active{
      color: #32C551 !important;
    }

    li a:hover{
      color: #32C551 !important;
    }

    .nav-logo1{
      height: 5% !important;
      width: 10% !important;
    }

    .nav-link{
      color: #3A8249  !important;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-transform: uppercase;
    }


    .nav-item .dropdown-item{
      border-bottom: 1px !important;
      border-color: black;
    }

    .nav-link{
      color: black !important;
    }

    .navbar-toggler{
      background-color: #676d76;
      margin-left: 4%;
      margin-bottom: 1%;
    }
    .navbar-toggler-icon{
      margin-left: -90% !important;
      margin-top: -50% !important;
    }
  }

  @media (min-width: 600px) {
    .navbar-top{
      background-color: #ffffff !important;
      
    }

    .nav-item  .dropdown-menu .dropdown-item{
      border-bottom: 1px !important;
      border-color: black;
    }

    .title{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .second-title{
      color: #32C551 !important;
    }

    li .is-active{
      color: #32C551 !important;
    }

    li a:hover{
      color: #32C551 !important;
    }

    .nav-logo1{
      height: 10% !important;
      width: 13% !important;
    }

    .nav-link{
      color: #3A8249  !important;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-transform: uppercase;
    }


    .nav-item .dropdown-item{
      border-bottom: 1px !important;
      border-color: black;
    }

    .nav-link{
      color: black !important;
    }

    .navbar-toggler{
      background-color: #676d76;
      margin-bottom: 1%;
    }
    .navbar-toggler-icon{
      margin-left: -90% !important;
      margin-top: -50% !important;
    }
  }

  @media (min-width: 900px) {
  }
  
  /* for-desktop-up */
  @media (min-width: 1200px) {
    .navbar-top{
      background-color: #ffffff !important;
      
    }

    .nav-item  .dropdown-menu .dropdown-item{
      border-bottom: 1px !important;
      border-color: black;
    }

    .title{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .second-title{
      color: #32C551 !important;
    }

    li .is-active{
      color: #32C551 !important;
    }

    li a:hover{
      color: #32C551 !important;
    }

    .nav-logo1{
      height: 8% !important;
      width: 13% !important;
    }

    .nav-link{
      color: #3A8249  !important;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-transform: uppercase;
    }
  }

  .nav-logo{
    height: 5% !important;
    width: 20% !important;
    padding: 5px;
  }