
<footer class="footer admin-footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="">
                        Grow Green
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{year | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://www.facebook.com/alnitechsoftware">Alnitech Software</a>
        </div>
    </div>
</footer>
