<div class="container">
    <div class="card">
        <div class="row mt-3 mb-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <img src="assets/img/next1.jpg" style="width: 100%;">
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
</div>