@media (max-width: 599px) {
    .border{
        border: 1px double black !important;
      
       }
}

@media (min-width: 600px) {
    .border{
        border: 1px double black !important;
      
       }
}

@media (min-width: 900px) {
    .border{
        border: 1px double black !important;
      
       }
}

/* for-desktop-up */
@media (min-width: 1200px) {
  .border{
      border: 1px double !important;
    
     }

}