
.mt{
    margin-top: 2%;
}

@media (max-width: 599px) {
    .footer-area{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/3.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        padding-top: 80px;
        height: auto;
    }
    .footer-widget img{
        height: auto;
        max-width: 30%;
    }
    
    .contact-info{
        position: relative;
        z-index: 1;
        margin-top: 5%;
    }
    
    .contact-info p{
        color: #ffffff;
        margin-bottom: 15px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.3;
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
    }
    
    .contact-info p i{
        flex: 0 0 30px;
        max-width: 50px;
        width: 40px;
        color: #77b122;
    }
    
    .copywrite-area {
        position: relative;
        z-index: 1;
        padding: 20px 0;
        background-color: #0a0a0a;
    }
    
    .copywrite-text{
        font-size: 12px;
        margin-bottom: 0;
        font-weight: 400;
        color: #929893;
    }
    
    .copywrite-text a{
        text-decoration: none;
        color: #32C551;
    }
    
    .contact-us{
        color: #ffffff;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.3;
        font-family: "Karla", sans-serif;
        line-height: 1.7;
        font-weight: 400;
    }
    
    .contact-us h2{
        font-size: 30px;
        margin-bottom: 10px;
        font-family: "Karla", sans-serif;
        color: #ffffff;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }
    
    .contact-us-header{
        text-transform: uppercase;
    }
    
    .contact-us h2 span{
        color: #77b122;
    }
    
    .social-icons .facebook{
        color: #4267b2;
    }

    .footer_ul_amrc{
        color: #ffffff;
        margin-bottom: 15px;
        font-family: "Karla", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        margin-left: 5%;
    }

    .footer_ul_amrc a{
        color: #ffffff !important; 
    }
    
    .col_white_amrc{
        margin-top: -1%;
        color: #ffffff;
        margin-bottom: 15px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.3;
        font-family: "Karla", sans-serif;
        font-size: 18px;
        line-height: 1.7;
        font-weight: 400;
        margin-left: 5%;
    }
    
    .icon-m{
        margin-left: 4%;
    }

    
}

@media (min-width: 600px) {
    .footer-area{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/3.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        padding-top: 80px;
        height: auto;
    }
    .footer-widget img{
        height: auto;
        max-width: 30%;
    }
    
    .contact-info{
        position: relative;
        z-index: 1;
        margin-top: 5%;
    }
    
    .contact-info p{
        color: #ffffff;
        margin-bottom: 20px !important;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.3;
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
    }
    
    .contact-info p i{
        flex: 0 0 30px;
        max-width: 50px;
        width: 40px;
        color: #77b122;
    }
    
    .copywrite-area {
        position: relative;
        z-index: 1;
        padding: 20px 0;
        background-color: #0a0a0a;
    }
    
    .copywrite-text{
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 400;
        color: #929893;
    }
    
    .copywrite-text a{
        text-decoration: none;
        color: #32C551;
    }
    
    .contact-us{
        color: #ffffff;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.3;
        font-family: "Karla", sans-serif;
        line-height: 1.7;
        font-weight: 400;
    }
    
    .contact-us h2{
        font-size: 30px;
        margin-bottom: 10px;
        font-family: "Karla", sans-serif;
        color: #ffffff;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }
    
    .contact-us-header{
        text-transform: uppercase;
    }
    
    .contact-us h2 span{
        color: #77b122;
    }
    
    .social-icons .facebook{
        color: #4267b2;
    }

    .footer_ul_amrc{
        color: #ffffff;
        margin-bottom: 15px;
        font-family: "Karla", sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }

    .footer_ul_amrc a{
        color: #ffffff !important; 
    }

    .icon-m{
        margin-left: 4%;
    }

    .col_white_amrc{
        margin-top: -1%;
        color: #ffffff;
        margin-bottom: 15px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.3;
        font-family: "Karla", sans-serif;
        font-size: 20px;
        line-height: 1.7;
        font-weight: 400;
    }


}

@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
    .footer-area{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../assets/img/3.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover; 
        padding-top: 80px;
        height: auto;
    }
    .footer-widget img{
        height: auto;
        max-width: 30%;
    }
    
    .contact-info{
        position: relative;
        z-index: 1;
        margin-top: 5%;
    }
    
    .contact-info p{
        color: #ffffff;
        margin-bottom: 15px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.3;
        font-family: "Karla", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
    }
    
    .contact-info p i{
        flex: 0 0 30px;
        max-width: 50px;
        width: 40px;
        color: #77b122;
    }
    
    .copywrite-area {
        position: relative;
        z-index: 1;
        padding: 20px 0;
        background-color: #0a0a0a;
    }
    
    .copywrite-text{
        font-size: 12px;
        margin-bottom: 0;
        font-weight: 400;
        color: #929893;
    }
    
    .copywrite-text a{
        text-decoration: none;
        color: #32C551;
    }
    
    .contact-us{
        color: #ffffff;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.3;
        font-family: "Karla", sans-serif;
        line-height: 1.7;
        font-weight: 400;
    }
    
    .contact-us h2{
        font-size: 30px;
        margin-bottom: 10px;
        font-family: "Karla", sans-serif;
        color: #ffffff;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
    }
    
    .contact-us-header{
        text-transform: uppercase;
    }
    
    .contact-us h2 span{
        color: #77b122;
    }
    
    .social-icons .facebook{
        color: #4267b2;
    }

    .col_white_amrc{
        margin-top: -1%;
        color: #ffffff;
        margin-bottom: 15px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.3;
        font-family: "Karla", sans-serif;
        font-size: 18px;
        line-height: 1.7;
        font-weight: 400;
    }

    .footer_ul_amrc{
        color: #ffffff;
        margin-bottom: 15px;
        font-family: "Karla", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
    }

    .footer_ul_amrc a{
        color: #ffffff !important; 
    }

    .footer_ul_amrc i{
        font-size: 30px;
        margin-right: 5% !important;
        justify-content: space-around;
    }

    .icon-m{
        margin-left: 4%;
    }

    .ad{
        height: 10%;
    }

}