<footer class="footer footer-area mt-2 ">
    <div class="container pb-3">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="footer-widget">
                    <!-- <a class="navbar-brand title nav-link " [routerLink]="['/common/']"><img class="nav-logo1"
                            src="assets/img/nLogo1.png" alt="log"> </a> -->
                    <div class="contact-info ml-3">
                        <p>
                            <i class="fa fa-map-marker"></i><span>Future Famers Co(Pvt)Ltd
                                No.3/7 A,
                                1st Lane, Gorakapitiya,
                                Piliyandala.</span>
                        </p>
                        <p>
                            <i class="fa fa-map-marker"></i><span>Future Famers Co(Pvt)Ltd
                                No.20/ 3B,
                                2n Lane, Baddagana,
                                Pittakotte.</span>
                        </p>
                        <p>
                            <i class="fa fa-envelope-square"></i><span>fufarmersco@gmail.com</span>
                        </p>
                        <p>
                            <i class="fa fa-phone"></i><span>Roshan Fernando:07703579123/ 0770590123</span>
                        </p>
                        <p>
                            <i class="fa fa-phone"></i><span>Whatsapp:0703579123</span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-1"></div>
            <div class="col-12 col-lg-2 align-items-center">
                <div class="container">
                    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                    <div class="footer_ul_amrc container">
                        <span class="row"><a [routerLink]="['/common/']">Home</a></span>
                        <span class="row"><a [routerLink]="['/common/map']">Map</a></span>
                        <span class="row"><a [routerLink]="['/common/success']">Succes Stories</a></span>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-1"></div>
            <div class="col-12 col-lg-4">
                <div class="container">
                    <h5 class="headin5_amrc col_white_amrc pt2">Follow Us</h5>
                    <div class="footer_ul_amrc">
                        GROGREEN යනු FUTURE FARMRS COMPANY (PVT) LTD ආයතනය මගින් හදුන්වා දෙන රජයේ අනුමැතිය ලත් පරිසර
                        හිතකාමී
                        වසවිසෙන් තොර පොහොරයන්ය.
                        <div class="row mt">
                            <a href="https://www.facebook.com/GroGreen-SriLanka-110520770281227" class="icon-m">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a class="icon-m">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="copywrite-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <p class="copywrite-text">Copyright © {{date}} All rights reserved</p>
                </div>
                <div class="col-md-4">
                    <p class="copywrite-text">Developed By <a href="https://www.facebook.com/alnitechsoftware">Alnitech
                            Software</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>