<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h4 class="card-title">Current Stock</h4>
          </div>
          <div class="col-12 col-lg-4"></div>
          <div class="col-12 col-lg-2"></div>
<!--          <div class="col-12 col-lg-2 float-right"><button type="button" class="btn btn-success btn-circle"-->
<!--              data-toggle="modal" data-target="#stockAModal"><i class="fas fa-plus-circle"></i></button>-->
<!--          </div>-->
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-primary">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Product ID</th>
                  <th scope="col">Quantity</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stock of stocks | paginate: { itemsPerPage: 5, currentPage: p }">
                  <th scope="row">{{stock.id}}</th>
                  <td>{{stock.title}}</td>
                  <td><a
                    [routerLink]="['/admin/products/product/',stock.productItem.id]">{{stock.productItem.id}}</a></td>
                  <td>{{stock.quantity}}</td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize="5" autoHide="true"
                responsive="true">
              </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--  <div class="modal fade" id="stockAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"-->
<!--    aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLongTitleCreate">Create Stock</h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <form [formGroup]="stockAddForm" (ngSubmit)="onSubmit(stockAddForm.value)">-->
<!--            <div class="form-group">-->
<!--              <label>Title :</label>-->
<!--              <div class="input-group input-group-alternative mb-3">-->
<!--                <div class="input-group-prepend">-->
<!--                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>-->
<!--                </div>-->
<!--                <input class="form-control" placeholder="Title" type="text" formControlName="title" required />-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label>Product :</label>-->
<!--              <div class="input-group input-group-alternative mb-3">-->
<!--                <select class="custom-select" id="AgentStock" formControlName="productItem">-->
<!--                  <option *ngFor="let productItem of products" [ngValue]="productItem">{{productItem.productName}}</option>-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div-->
<!--              *ngIf="!stockAddForm.controls['title'].valid && (stockAddForm.controls['title'].dirty||stockAddForm.controls['title'].touched)"-->
<!--              class="alert alert-danger">Product Title is Required</div>-->
<!--            <div class="form-group">-->
<!--              <label>Quantity :</label>-->
<!--              <div class="input-group input-group-alternative mb-3">-->
<!--                <div class="input-group-prepend">-->
<!--                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>-->
<!--                </div>-->
<!--                <input class="form-control" placeholder="Quantity" type="text" formControlName="quantity" required />-->
<!--              </div>-->
<!--            </div>-->
<!--            <div-->
<!--              *ngIf="!stockAddForm.controls['quantity'].valid&&(stockAddForm.controls['quantity'].dirty||stockAddForm.controls['quantity'].touched)"-->
<!--              class="alert alert-danger">Product Quantity is Required</div>-->
<!--            <button type="submit" class="btn btn-success" [disabled]="!stockAddForm.valid">Add</button>-->

<!--          </form>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="modal fade" id="stockEModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"-->
<!--    aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLongTitleE">Edit Stock</h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <form [formGroup]="stockAddForm" (ngSubmit)="onEdit(stockAddForm.value, editStock.id)">-->
<!--            <div class="form-group">-->
<!--              <label>Quantity :</label>-->
<!--              <div class="input-group input-group-alternative mb-3">-->
<!--                <div class="input-group-prepend">-->
<!--                  <span class="input-group-text"><i class="nc-icon nc-tag-content"></i></span>-->
<!--                </div>-->
<!--                <input class="form-control" placeholder="Quantity" type="text" formControlName="quantity" required />-->
<!--              </div>-->
<!--            </div>-->
<!--            <div-->
<!--              *ngIf="!stockAddForm.controls['quantity'].valid&&(stockAddForm.controls['quantity'].dirty||stockAddForm.controls['quantity'].touched)"-->
<!--              class="alert alert-danger">Product Quantity is Required</div>-->
<!--            <button type="submit" class="btn btn-success" [disabled]="!stockAddForm.valid">Add</button>-->
<!--          </form>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
