<div *ngIf="sucess" class="alert alert-success alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Success!</strong> Action done Successfully!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <!-- <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span> -->
  <span class="alert-inner--text"><strong>Danger!</strong> Sorry, Something went wrong!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h4 class="card-title">Distributions</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Receiver</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Received Date</th>
                <th scope="col">Detail</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let distribution of distributions | paginate: { itemsPerPage: 10, currentPage: p }">
                <th scope="row">{{distribution.id}}</th>
                <td>{{distribution.receiver.firstName}} {{distribution.receiver.lastName}}</td>
                <td>{{distribution.sendDate}}</td>
                <td>{{distribution.receivedDate}}</td>
                <td>{{distribution.detail}}</td>
                <td>{{distribution.status | uppercase}}</td>
                <td>
                  <div class="row">
                    <a class="btn btn-primary ml-1 mr-1 mb-1" role="button" routerLink="/agent/distribution/invoice"
                      [state]="distribution"><i class="far fa-eye"></i></a>
                    <!-- <button type="button" class="btn btn-success ml-1 mr-1 mb-1" data-toggle="modal"
                      data-target="#stockEModal" (click)="getEditData(stock.id)"><i
                        class="fas fa-pencil-alt"></i></button> -->
                    <button type="button" class="btn btn-success ml-1 mr-1 mb-1" data-toggle="modal"
                      data-target="#stockReceivedModal" (click)="getSelectedData(distribution)"
                      [disabled]="distribution.status != 'pending'"><i class="fas fa-pencil-alt"></i></button>
                    <button type="button" class="btn btn-danger ml-1 mr-1 mb-1" data-toggle="modal"
                      data-target="#deleteDistribution" (click)="getSelectedData(distribution)"
                      [disabled]="distribution.status != 'pending'"><i class="far fa-trash-alt"></i></button>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize="5" autoHide="true"
            responsive="true">
          </pagination-controls>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-12 col-lg-4">
          </div>
          <div class="col-12 col-lg-4"></div>
          <div class="col-12 col-lg-3 float-right"></div>
          <div class="col-12 col-lg-1 float-right">
            <button type="button" class="btn btn-success btn-circle" data-toggle="modal"
              data-target="#distributionAModal"><i class="fas fa-plus-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="distributionAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Distribution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="distributionAddForm" (ngSubmit)="onSubmit(distributionAddForm.value)">
          <div class="form-group">
            <label>Receiver :</label>
            <div class="input-group input-group-alternative mb-3">
              <select class="custom-select" id="agent" formControlName="userid" [value]='0'>
                <option value="0">Select Receiver</option>
                <option *ngFor="let farmer of farmers" [ngValue]="farmer.farmerId">{{farmer.firstName}}
                  {{farmer.lastName}}</option>
              </select>
            </div>
          </div>
          <div
            *ngIf="!distributionAddForm.controls['userid'].valid && (distributionAddForm.controls['userid'].dirty||distributionAddForm.controls['userid'].touched)"
            class="alert alert-danger">Receiver is Required</div>


          <div class="form-group">
            <label>Status :</label>
            <div class="input-group input-group-alternative mb-3">
              <select class="custom-select" id="agent" formControlName="status">
                <option value="pending">PENDING</option>
                <option value="received">RECEIVED</option>
                <option value="rejected">REJECTED</option>
              </select>
            </div>
          </div>
          <div
            *ngIf="!distributionAddForm.controls['status'].valid && (distributionAddForm.controls['status'].dirty||distributionAddForm.controls['status'].touched)"
            class="alert alert-danger">Receiver is Required</div>

          <div class="row">
            <div class="col-lg-10">
              <div formArrayName="stocks">
                <div *ngFor="let item of distributionAddForm.controls.stocks.controls; let stockIndex=index"
                  [formGroupName]="stockIndex">
                  <span>Product Item {{stockIndex + 1}}</span>
                  <div class="form-group mt-2">
                    <label>Stock :</label>
                    <div class="input-group input-group-alternative mb-3">
                      <select class="custom-select" id="stockItemId" formControlName="stockItemId">
                        <option value="0">Select Stock Item</option>
                        <option *ngFor="let stock of stockList" [ngValue]="stock.id">{{stock.title}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-10">
                      <div class="form-group">
                        <label>Quantity :</label>
                        <div class="input-group input-group-alternative mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-box"></i></span>
                          </div>
                          <input class="form-control" placeholder="10" type="text" formControlName="quantity"
                            required />
                        </div>
                      </div>
                      {{item[stockIndex]}}
                      <!-- <div
                  *ngIf="!agentEditForm.controls['quantity'].valid && (agentEditForm.controls['quantity'].dirty||agentEditForm.controls['lname'].touched)"
                  class="alert alert-danger">Last Name is Required
                </div> -->
                    </div>
                    <div class="col-lg-2">
                      <button type="button" class="btn btn-danger btn-sm" (click)="removeProducts(stockIndex)"
                        *ngIf="distributionAddForm.controls.stocks.controls.length > 1"><i
                          class="fas fa-minus-circle"></i></button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-info btn-sm mt-4" (click)="addProducts()"><i
                  class="fas fa-plus-circle"></i></button>
            </div>
          </div>




          <button type="submit" class="btn btn-success" [disabled]="!distributionAddForm.valid">Add</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" #closeBtn (click)="clearData()">Close</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteDistribution" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-danger">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Distribution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete Distribution with ID {{deleteId}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updateDistribution('rejected')"  data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="stockReceivedModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-danger">
        <h5 class="modal-title" id="exampleModalLongTitle">Received Distribution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure distribution delivered to farmer {{deleteId}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updateDistribution('received')"  data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>