/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */
.background-color {
    /* background-image: linear-gradient(to right, #42B354, #31F24F) !important; */
    /* background-image: url("assets/img/green.svg") ; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x:  hidden !important;
  }
  
  .no-background-color {
    /* background-image: none; */
  }
  
  
  