agm-map {
  height: 100%;
}

.example-container {
  width: 100%;
  height: 100%;
  /* margin: 12px; */
  /* border: 1px solid #555; */
}

mat-drawer-content {
  padding: 0px;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
}

mat-sidenav {
  width: 200px;
  margin-top: 5%;
  /* background-color: #41AE53; */
}

.overlay {
  opacity:100;
  filter: alpha(opacity = 0);
  position:absolute;
  height: auto;
  top:30%;
  display:block;
  z-index:100;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  width: 1% !important;
  padding-bottom: -5% !important;
  /* background:transparent; */
}


@media (max-width: 599px) {
  mat-drawer-content {
    padding: 0px;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
  }
  
  mat-sidenav {
    width: 200px;
    margin-top: 18%;
    /* background-color: #41AE53; */
  }

  .filter-button{
    border-width: 2px !important;
    border-color: #77b122 !important;
    width: 10px !important;
    height: 50px !important;
    margin-left:-10% !important;
    font-family: "Karla", sans-serif;
    }
    
    .filter-button:hover{
    background-color: #14D634  !important;
    color: #fff;
    }
    
    .filter-button-text{
    align-items: center !important;
    font-size: 11px;
    margin-top:-20px !important
    }
    
    .map-side-nav-link{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    border-style: solid
    }
    
    .mat-nav-list .mat-list-item{
    border-style: solid !important;
    border-bottom: 0.8px !important;
    border-color: #fff !important;
    border-top: 0.8px;
    border-left: 0.8px;
    border-right: 0.8px;
    }
    
    .link-space{
    border-left: 0px !important;
    border-right:0px !important;
    pointer-events: none;
    }
    
    .link-space:hover{
    pointer-events:none !important;
    }
    
    .map-side-nav-link:hover{
    /* color: #fff; */
    background-color: #41AE53;
    }
    
    img {
      border: 1px solid #ddd;
      border-radius: 50%;;
      padding: 5px;
      width: 50%;
    }
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .map-agent-img{
      width: 50%;
      align-self: center;
      justify-content: center;
      margin-left: 25%;
    }
    
  
    .agent-name{
      margin-top: 10%;
    }

}

@media (min-width: 600px) {
  mat-drawer-content {
    padding: 0px;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
  }
  
  mat-sidenav {
    width: 200px;
    margin-top: 9%;
    /* background-color: #41AE53; */
  }

  .filter-button{
    border-width: 2px !important;
    border-color: #77b122 !important;
    width: 10px !important;
    height: 50px !important;
    margin-left:-10% !important;
    font-family: "Karla", sans-serif;
    }
    
    .filter-button:hover{
    background-color: #14D634  !important;
    color: #fff;
    }
    
    .filter-button-text{
    align-items: center !important;
    font-size: 11px;
    margin-top:-20px !important
    }
    
    .map-side-nav-link{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    border-style: solid
    }
    
    .mat-nav-list .mat-list-item{
    border-style: solid !important;
    border-bottom: 0.8px !important;
    border-color: #fff !important;
    border-top: 0.8px;
    border-left: 0.8px;
    border-right: 0.8px;
    }
    
    .link-space{
    border-left: 0px !important;
    border-right:0px !important;
    pointer-events: none;
    }
    
    .link-space:hover{
    pointer-events:none !important;
    }
    
    .map-side-nav-link:hover{
    /* color: #fff; */
    background-color: #41AE53;
    }
    
    img {
      border: 1px solid #ddd;
      border-radius: 50%;;
      padding: 5px;
      width: 50%;
    }
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .map-agent-img{
      width: 100%;
      align-self: center;
      justify-content: center;
    }
    
  
    .agent-name{
      margin-top: 10%;
    }

}

@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
  mat-drawer-content {
    padding: 0px;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
  }
  
  mat-sidenav {
    width: 200px;
    margin-top: 5%;
    /* background-color: #41AE53; */
  }
.filter-button{
border-width: 2px !important;
border-color: #77b122 !important;
width: 10px !important;
height: 50px !important;
margin-left:-10% !important;
font-family: "Karla", sans-serif;
}

.filter-button:hover{
background-color: #14D634  !important;
color: #fff;
}

.filter-button-text{
align-items: center !important;
font-size: 11px;
margin-top:-20px !important
}

.map-side-nav-link{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-transform: uppercase;
color: rgb(0, 0, 0);
border-style: solid
}

.mat-nav-list .mat-list-item{
border-style: solid !important;
border-bottom: 0.8px !important;
border-color: #fff !important;
border-top: 0.8px;
border-left: 0.8px;
border-right: 0.8px;
}

.link-space{
border-left: 0px !important;
border-right:0px !important;
pointer-events: none;
}

.link-space:hover{
pointer-events:none !important;
}

.map-side-nav-link:hover{
/* color: #fff; */
background-color: #41AE53;
}

img {
  border: 1px solid #ddd;
  border-radius: 50%;;
  padding: 5px;
  width: 50%;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.box{
  width: 20%;
  height: auto;            
  position: absolute;
  top: 12%;
  right: 0%;
  opacity:100;
  filter: alpha(opacity = 0);
  background: white
}
.stack-top{
  z-index: 9;
  margin: 20px; /* for demo purpose  */
}


.map-agent-img{
  width: 100%;
  align-self: center;
  justify-content: center;
}

.agent-name{
  margin-top: 10%;
}

}

