<mat-sidenav-container class="example-container" [hasBackdrop]="true">
    <mat-sidenav #drawer>
        <mat-nav-list>
            <a class="map-side-nav-link" mat-list-item (click)="loadMarker('All')"> All
                <!-- &nbsp; {{agent.lastName}} --> </a>
            <a class="map-side-nav-link" mat-list-item (click)="loadMarker(agent)" *ngFor="let agent of agents">
                {{ agent.firstName }}
                <!-- &nbsp; {{agent.lastName}} --> </a>
            <!-- dont remove following link -->
            <a class="map-side-nav-link link-space" mat-list-item></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <div class="overlay col-md-1">
            <button class="filter-button" mat-raised-button (click)="drawer.toggle()">
                <span><i class="fas fa-sliders-h"></i></span>
                <p class="filter-button-text">Users</p>
            </button>
        </div>
        <agm-map [latitude]="slCoordinates.lat" [longitude]="slCoordinates.lng">
            <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
                [label]="m.label">
                <agm-info-window>
                    <div class="row">
                        <div class="col-md-5">
                            <a href={{m.farmer.imageUrl}}>
                                <img src={{imageUrlWithBaseUrl+m.farmer.imageUrl}} alt="Avatar" class="image">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="row" style="align-content: center">
                                <h6>
                                    <strong>{{m.farmer.firstName}} &nbsp; {{m.farmer.lastName}}</strong>

                                </h6>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    Growing Items : 
                                </div>
                                <div class="col-md-7">
                                    {{m.farmer.itemsGrow}}
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-5">
                                        Cultivation Area : 
                                    </div>
                                    <div class="col-md-7">
                                        {{m.farmer.cultivationArea}} Arcs
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-5">
                                        Mobile : 
                                    </div>
                                    <div class="col-md-7">
                                        {{m.farmer.mobile}}
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-5">
                                        Address : 
                                    </div>
                                    <div class="col-md-7">
                                        {{m.farmer.address}}
                                    </div>
                            </div>

                        </div>
                    </div>
                </agm-info-window>
            </agm-marker>
        </agm-map>

        <div class="card box stack-top card-user" *ngIf="isAgentSelected">
            <div class="card-header ">
                <h5 class="card-title">AGENT DETAILS</h5>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-lg-2 col-md-4"></div>
                    <div class="col-lg-8 col-md-4">
                        <img alt="User Pic" src={{imageUrlWithBaseUrl+agent.imageUrl}} id="profile-image1"
                            class="img-circle img-responsive map-agent-img">
                    </div>

                </div>
                <div class="author agent-name">
                    <div>
                      <h5 class="title">{{agent.firstName}} &nbsp; {{agent.lastName}}</h5>
                    </div>
                  </div>
            </div>
            <div class="card-footer">
                <hr>
                <div class="container">
                    <h5><small>Area</small> : {{agent.area}}
                      </h5>
                </div>
                
                
            </div>

        </div>
    
    </mat-sidenav-content>
</mat-sidenav-container>